TiendaArreglos.Client.Wpf/Config/TiendaArreglosConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="TiendaArreglosConfig">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="LastPrintedNumber" type="xsd:int" />
        <xsd:element name="NumberOfTicketsToPrint" type="xsd:int" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>